[2013-10-08 11:57] piojo-zz opened #9 "Debug entry in ccm.conf ignored"
From Jagath Kumarasinghe:

[2013-10-15 19:50] #9 closed, assigned to piojo

[2013-11-04 11:58] jrha opened #11 "ccm scripts don't have man pages"
As reported by @ned21 on quattor-devel.

The CCM libraries have man pages and ccm-fetch has POD,
but there's no actual man page for the ccm-*
scripts.

Is it possible to have maven generate one?

[code]

[2013-11-06 22:31] #11 closed, assigned to piojo

[2014-01-02 15:10] ned21 opened #14 "ccm-purge assumes a GDBM backend"
ccm-purge was not updated when selectable DB backend support was implemented:

[code]

This code should be replaced with an appropriate call to EDG::WP4::CCM::DB->read()

[2014-01-02 17:34] ned21 opened #15 "ccm-purge should be configured via /etc/ccm.conf"
The length of time CCM profiles are kept on disk is currently hardcoded in the cronjob shipped in the rpm. This makes it hard for sites to customise it. The config is also in seconds but some sites would find it useful to keep profiles around for >30 days to aid post-mortem and troubleshooting.

Proposed enhancement: Add a new field to ccm.conf that controls ccm-purge. This field will have a unit

[2014-01-08 13:41] #14 closed, assigned to ned21

[2014-01-08 13:41] #15 closed, assigned to nobody

[2014-04-18 16:19] stdweird opened #17 "libwww-perl"
as of version 6, libwww-perl does not ship the https protocol, and thus the dependency is not resolved anymore when doing a `yum install ccm` (as it only has a `use LWP::UserAgent`).

can we add explicit dependecies to the pom file (dependency on `perl(LWP::Protocol::https)` or maybe even a unused `use LWP::Protocol::https`? (this might also apply to other protocols).

[2014-06-23 16:41] #17 closed, assigned to nobody

[2014-06-25 12:08] jrha opened #19 "No LICENSE"

[2014-07-31 21:17] #19 closed, assigned to nobody

[2014-09-29 07:18] seraf1 opened #22 "ccm v14.6.1 problem with xml profiles"
With profile them xml, when we have an error, ccm respawns immediately, downloads a new profile and always finds a difference between the profiles.
So it raises ncm-ncd systematics, which leads to a saturation of the serve, the process rotating spma-yum permanently.

[2014-10-30 13:22] jouvin opened #24 "ccm-fetch 14.10.0-rc1: NOQUATTOR_FORCE is not exported"
This is a blocking issue for 14.10.0 release (https://github.com/quattor/release/issues/58).

After upgrading `ccm-fetch` to 14.10.0-rc1, any attempt to run it results in the following error:

[code]

[2014-10-30 13:38] #24 closed, assigned to stdweird

[2014-10-30 13:57] jouvin opened #27 "unit test fetch.t produces an undetected error"
When running `mvn test`, this results in the following error during `fetch.t`:

[code]

There is a double error here:
- The error itself
- The fact that this is not detected as an error causing the test to fail

Ideally, should be fixed before 14.10.0 as part of #26.

[2014-10-30 21:46] jouvin opened #28 "Add a method tokenizeCmdString()"
As explained in https://github.com/quattor/configuration-modules-grid/pull/49, using `CAF::Process` in several components require to tokenize a command string retrieved from the configuration. The only alternative would be to run `CAF::Process` with a subshell, something worst...

Rather than having several components reinventing the wheel and doing possibly inaccurate things, it'd be good to have

[2014-10-30 21:50] jouvin opened #29 "Remove support for XMLDB"
We removed support of XMLDB in the Pan compiler with the 10 series. It is probably time to remove the support from CCM too (in particular `src/main/perl/XMLDBProfile.pm`).

[2014-10-30 23:06] #27 closed, assigned to nobody

[2014-10-31 08:14] #28 closed, assigned to nobody

[2014-11-17 21:53] #29 closed, assigned to jrha

[2014-12-02 22:40] stdweird opened #31 "CCM Configuration help"
hi all,

i'm trying to make the CCM Configuration unittests working. but i lack any understanding or guidleines how it's supposed to be working.

can someone explain following code:
- https://github.com/quattor/CCM/blob/master/src/main/perl/Configuration.pm#L348
  this block is unused/ to be removed due to line above? (or should the block come before the `$self->{"locked"} = 0;`).
- https://github

[2014-12-16 07:13] #31 closed, assigned to nobody

[2014-12-16 10:40] stdweird opened #36 "getTree needs a depth option"
Sometimes you are only interested in 1st or 2nd level of the names/values. Using getTree for this might be expensive/slow.

[2014-12-18 12:30] #36 closed, assigned to stdweird

[2015-01-06 11:24] jrha commented on #22
Now we have #6 to discuss this we can get back on topic.
We should decide what we are going to do about this.

[2015-01-06 11:48] jouvin commented on #22
MS is clearly one site that depends heavily on XML profiles and I think we should fix the issue with them, we don't really have an alternative option... I'm pretty sure it's not a very tricky issue, the problem is to reproduce the problem when you have moved to JSON... Clearly we'll have to postpone it again...

[2015-01-06 12:00] jrha commented on #22
Agreed, but we should commit to fix it rather than continuing to put it off.

[2015-01-06 14:26] ned21 opened #38 "Cachemanager::getUnlockedConfiguration does not honour cid value"
ncm-query --useprofile N calls this sequence of methods:

[code]

which results in the correct CID being set in the cachemanager object. However, when ncm-query then calls getElement, the value returned is always from the latest profile.

[2015-01-06 14:58] stdweird commented on #38
although normal behaviour for `unlocked` configuration instance, it makes no sense to use an unlocked instance with the `--useprofile` support (so i'd say this is a `ncm-query` issue).
it might be good to know which options of `ncm-query` are being used in the wild, since i'm going to make a `ccm-cli` february/march timeframe.

[2015-01-06 16:57] ned21 commented on #38
@stdweird - I don't follow. ncm-query always uses unlocked configuration instance, why would it need to use locking when using --useprofile?

[2015-01-06 17:09] stdweird commented on #38
because an unlocked configuration always gives the latest CID (that's what the locking is about).

[2015-01-06 17:21] ned21 commented on #38
OK, so this issue is that passing $cid to UnlockedConfiguration should be an error, and I filed a new issue against ncm-query for the --useprofile bug. https://github.com/quattor/ncm-query/issues/8

[2015-01-07 11:09] jouvin commented on #22
I just got access to a system exhibiting the problem... Hopefully, I'll be able to track down what happens. I already have a better picture:
* The problem happens after deployment of a new profile (even if the contents is the same)
* When it starts, every `ccm-fetch` attempt with a short interval with the previous one will trig the download of a new profile because the file on the server is consid

[2015-01-07 11:30] jouvin commented on #22
Great news! The problem was due to this problem spotted and fixed by  @stdweird beginning of December where CTIME rather than MTIME was used for timestamp comparison (https://github.com/quattor/CCM/commit/f49c48d141e680f481798a1018bcfcd65d9a9eb6). With this fix backported to the machine exhibiting the problem (using Quattor 14.8.0), the problem is fixed.
I close the issue.

[2015-01-07 11:30] #22 closed

[2015-01-07 11:39] ned21 commented on #22
Excellent news - many thanks.

[2015-01-07 12:25] stdweird opened #39 "warning for profiles from future"
Although harmless since 14.12, when the timestamp appears from the future due to time sync issues between server and client, a warning should be logged.

[2015-01-07 12:26] stdweird commented on #22
@jouvin can you check how much the clocks of the http profile server and the client node differ? i think that is what is causing the issue. i just created https://github.com/quattor/CCM/issues/39 to help debugging any later issues.

[2015-01-14 17:21] stdweird opened #40 "CCM GDBM issue with gdbm 1.8.0-37 update"
a GDBM update broke CCM with GDBM_File backend (http://lists.centos.org/pipermail/centos-announce/2015-January/020856.html)

error message is like
[code]

if you are using yum-spma
[code]

(or switch format)

if you already have the issue on nodes:
* lock the version / switch format, make new profiles
* on the node
[code]

[2015-01-14 17:25] jrha commented on #40
So... should we change the default to something else?

[2015-01-14 17:28] stdweird commented on #40
lets wait for the patch. something tells me it will pretty simple, looking at the changelog of the rpm. we can discuss about a new default later.

[2015-01-14 18:16] stdweird commented on #40
reprodce with minimal code
[code]

gives
[code]

[2015-01-28 06:40] stdweird commented on #40
should be fixed with https://rhn.redhat.com/errata/RHBA-2015-0089.html
waiting till it hits our repos to test it.

[2015-02-23 16:19] jrha commented on #40
@stdweird any update?

[2015-02-26 07:29] stdweird commented on #40
this is fixed with `gdbm-1.8.0-38.el6.x86_64` and available.

If the version is in your repos (be careful with snapshots!), you can remove the whole `pkg_repl('gdbm*','1.8.0-36.el6', PKG_ARCH_DEFAULT)` again (gdbm will be pulled in as a dependency).

to verify if gdbm is in your repos, run
[code]
(by default, `repoquery` does not honour yum version locks, so no need to make any changes to test thi

[2015-02-26 07:31] #40 closed

[2015-03-03 16:17] jrha opened #43 "Tab completion lookup file"
As discussed at the Grenoble workshop, ccm should write out a list of all the paths in a profile when a new profile is fetched, this file should be stored in the same directory as the db file and used by `ncm-query` to support tab completion.
It could be a list of paths, one per line including all sub paths up to the leaf values.

Something like this would be good:
[code]

[2015-03-14 08:27] jouvin opened #45 "Unit test db failing: CDB_File missing"
`mvn test` on my SL6 machine fails because it requires `CDB_File`. I guess this is an optional package to use this backend. What is the package to add to a Quattor development machine for this to work? Is it worth adding this dependency for building CCM in the doc somewhere (I remember we had the same discussion about `metaconfig`). Is it worth adding it as RPM dependency also, to avoid problem at

[2015-03-14 08:53] stdweird commented on #45
use repoquery for all these (it's what the `build_all_repos.sh` script uses)
[code]
and then `yum info` (it's from EPEL apparently)

[2015-03-14 10:07] jouvin commented on #45
Thanks. My real question was more about whether this is something we really want to support or that we deprecated and about the minimum documentation about these dependencies...

[2015-03-19 14:02] jouvin opened #46 "15.2.0-rc5: ccm-fetch broken"
This is a showstopper for 15.2.0-rc5 (https://github.com/quattor/release/issues/81). After ugrading to new `ccm` version, any attempt to run `ncm-ccm` fails with the error below but `ccm-fetch` ran outside the component works fine. As there was almost no change to `ncm-ccm`since last release (only `NOQUATTOR` support), I tend to think the problem is in `CCM`

[code]

[2015-03-19 14:29] stdweird commented on #46
already found the issue, it's a nice one...

[2015-03-19 14:57] jouvin commented on #46
The most important is that it is nice!!! And BTW that you found it!

[2015-03-19 17:03] jrha commented on #46
:grinning:

[2015-03-19 18:49] #46 closed

[2015-03-22 16:52] stdweird commented on #45
If you want it deprecated/removed, i'm ok with that. but as long as it is not the case, there should be an explicit test to verify it works.
so for now, i would add this is as a package for the quattor development environment.

[2015-03-30 15:32] stdweird opened #50 "change to json_typed does not cause a re-fetch of profile"
When json_typed is enabled, the profile is not re-fetched and thus the DB stays in previous "state".
Not sure if this is a bug or feature (and in any case easily fixed with `ccm-fetch --force`).

[2015-04-14 05:29] stdweird commented on #45
@jouvin If you want `CDB_File` support removed or deprecated, i propose to open an issue for that and close this one?

[2015-04-17 12:39] #39 closed

[2015-04-18 04:12] #45 closed

[2015-04-29 14:42] jrha commented on #50
It's not a change to the profile contents per se, so this might be correct.
But on the other hand, the configuration on the node might change, so it should be re-applied...

[2015-05-04 22:13] jouvin commented on #50
How it is enabled? I had expect this to happen through a change to /software/components/ccm. In this case, `ncm-ccm` could refetch with `--force` when there is a CCM config change... Even if this is generally not necessary, it should be harmless as CCM config changes are very rare IMO.

[2015-05-05 05:47] stdweird commented on #50
For now, yes, it's via `ccm.conf`; but this is also an issue if it would become the default. we could allow some white list of options in `ncm-ccm` to trigger a fetch with `--force` (but there's something with that scenario; and i can't seem to find the discussion we once had about it when we did the NOQUATTOR support)

[2015-05-05 12:46] jouvin commented on #50
What is the specific issue if it becomes the default? IMO, we should not try to implement a restricted list of options triggering `--force` (in fact it would be necessary only when the option is changed and this would be to difficult to implement) but rather to say that any change to the CCM options would trigger a `--force` in `ncm-ccm`. This would have the effect that at the **next modification*

[2015-05-05 13:14] stdweird commented on #50
yes, this issue is to point out that currently, the changes only have effect with the next modification.

the problem is that CCM has no internals to detect (let alone react to this change) that the internal DB changed with the same profile, so i'm afraid it might be quite a bit of work to properly fix the issue. but at least, now you know and have been warned :smile:

[2015-05-05 13:29] jouvin commented on #50
Personnally, I tend to think that we should not try to address this one time issue... It should just be a warning in the documentation...

[2015-05-05 14:16] jrha commented on #50
Agreed.

[2015-05-05 14:16] #50 closed

[2015-05-08 19:31] jouvin opened #53 "Postinstall script: invalid usage of pgrep"
Postinstall script is using `pgrep` to detect if `ncm-cdispd` is running. But `pgrep` (part of `procps`) is not specified as dependency and may not exist on the host. Probably, the solution, would be to implement a `cond_restart` in `ncm-cdispd` and use it in the postinstall script, removing the need for `pgrep`.

[2015-05-09 17:19] StephaneGerardVUB opened #54 "Support of Kerberos authentication in ccm-fetch"
LWP::UserAgent needs the plugin LWP::Authen::Negotiate in order to enable Kerberos authentication in case the profiles are in an Apache with mod_auth_kerb. This plugin is provided by the package perl-LWP-Authen-Negotiate. I suggest that this package is added in the "external" repositories, and it becomes a dependency of the ccm package.

[2015-05-10 17:56] stdweird commented on #54
@StephaneGerardVUB what else is needed to make this work? if it is only a matter of adding the package, it could make it in 15.4 imho (the rpm exists in el5 EPEL); if more is needed, it will be 15.6.
@ned21 @gombasg any feedback (i was under the impression that MS used ccm with krb5)

[2015-05-11 08:54] jrha commented on #54
It would be good to know! We plan migrate to kerberised ccm this year.

[2015-05-11 09:00] stdweird commented on #54
now that i remember, i think this is related to https://github.com/quattor/CAF/issues/62 and the earlier discussion in https://github.com/quattor/aii/issues/81

[2015-05-11 09:35] StephaneGerardVUB commented on #54
@stdweird You need something else for it to work : a valid kerberos ticket for root. root can always create a ticket using the keytab of the machine by doing "kinit -k -t /etc/krb5.keytab". So, what is missing is implementing ticket creation in ccm-fetch.

[2015-05-11 09:40] jrha commented on #54
Ok, lets leave this for 15.6.

[2015-05-11 09:46] stdweird commented on #54
tickets should be obtainable from perl, there's `Authen::Krb5` to help with that
@StephaneGerardVUB if you can live manuualy creating the tickets, maybe you can also add the dependency in the templates for now? i agree with @jrha that this can't be achieved for 15.4

[2015-05-11 09:56] StephaneGerardVUB commented on #54
@stdweird Sure we can survive without that. You can postpone it to 15.6.

[2015-05-11 10:37] ned21 commented on #54
We don't use mod_auth_kerb but instead encrypt the profile such that only the intended recipient can decrypt it.

[2015-05-11 10:56] jrha commented on #54
Did you patch ccm to do the decryption?

[2015-05-11 11:01] ned21 commented on #54
We don't have any local patches, if that's what you are asking, but I believe [this code in CCM](https://github.com/quattor/CCM/blob/master/src/main/perl/Fetch.pm#L633) originated from us.

[2015-05-11 11:06] stdweird commented on #54
@ned21 any specific reason why you use that way of working instead of `mod_auth_kerb`?

[2015-05-11 11:43] ned21 commented on #54
Yes, several. One of them was that this provides encryption and authorisation via the same trust infrastructure. mod_auth_kerb requires SSL to ensure the data is not transmitted in the clear, plus management of appropriate ACLs on all the profile servers (of which we have many). Might be a good presentation at the next workshop if you are interested?

[2015-05-11 11:44] jrha commented on #54
Yes please. What is doing the encryption?

[2015-05-11 11:47] stdweird commented on #54
:+1: on the presentation
but aside from managing the trusts, no real technical reason? i think some sites are looking at a single realm setup, managed with freeipa; so if there's a technical drawback, that would be very interesting to know.

[2015-05-11 12:24] ned21 commented on #54
@jrha - a CGI script on the web server

@stdweird - depends on your definition of "technical". I don't think we considered mod_auth_kerb because it didn't (alone) meet the requirements we had, while kerberos encryption did.

[2015-05-22 07:43] stdweird commented on #38
@ned21 https://github.com/stdweird/CCM/commit/82dfb116797e70709db4e4e3723f9c58f047fb39 hopefully makes the meaning of "locked Configuration" clearer.

[2015-05-22 16:30] stdweird commented on #38
@ned21 i added a smarted `getConfiguration` https://github.com/stdweird/CCM/commit/b7ea01653b24dec3351048e755b7687d4c4ee2c4 ; that's probably what `ncm-query` should use

[2015-05-22 19:35] ned21 commented on #38
Excellent! I will look out for the PR.

[2015-05-28 15:31] stdweird opened #59 "Support group_readable option"
Support for `group_readable`; currently it is either owner or whole world.
Optional, i.e. default is undef, meaning nothing (implies primary group of owner?)

schema could be
[code]
(with `defined_group` from ncm-accounts).

Requires changes in `CCM::Fetch`, but nothing major

[2015-08-13 08:48] #43 closed

[2015-08-20 12:11] stdweird commented on #38
@ned21 the PR you are looking out for is #61 (which is merged)

[2015-08-20 13:59] ned21 commented on #38
So is this fixed by #61 and the underlying problem I saw remains open in quattor/ncm-query#8?

[2015-08-20 14:05] stdweird commented on #38
@ned21 define "fixed". the PR hopefully made it more clear what an unlocked configuration is, and provides an easier/smarter API to get Configuration instances.
but the underlying problem still remains: passing a cid to get an unlocked configuration makes no sense.

[2015-09-14 19:21] ned21 opened #68 "Remove all function prototypes"
As discussed in #66. Rationale: http://stackoverflow.com/questions/297034/why-are-perl-5s-function-prototypes-bad

[2015-09-30 13:00] jrha opened #71 "Using $host and $domain makes an invalid configfile when not replaced"
($host and $domain can be used for Appconfig's variable expansion, but they are invalid ccm.conf parameters)

Part of https://github.com/quattor/release/issues/109#issuecomment-144091675

[2015-10-07 09:45] #71 closed

[2015-10-07 09:52] stdweird opened #74 "ccm commanline tools support CCM and application configfile from stdin"
The ccm CLI tools like ccm-fetch use the --cfgfile option for 2 purposes
* CAF::Application config file for the tool
* CCM::CCfg config file

Becasue of this, stdin as pipe can't be used

[2015-10-07 12:17] ned21 commented on #74
Note that /proc/self is not valid on Solaris.

[2015-10-11 15:38] stdweird opened #75 "ccm-fetch does not report updated profiles"
With https://github.com/quattor/CAF/pull/98, ccm-fetch is silent when updating (or with --force). It works (e.g. when `--verbose` is used), but maybe it should report something

[2015-10-11 16:29] ned21 commented on #75
Adding a "bug" label -- the old behaviour was useful in understanding if/when a host was updating.

[2015-10-29 08:00] stdweird opened #76 "remove unused code"
Tracker to list all unused methods that should be removed
 * `Fetch::DecodeURL`
 * `CAcheManager::_encodeUrl`

[2015-12-07 10:37] jrha commented on #54
Is this issue just a matter of documentation now?

[2015-12-07 12:39] stdweird commented on #54
@jrha no, not really, i plan to fix this via https://github.com/quattor/CAF/pull/110. we need it end of january, so i'll work on it next month.

[2016-01-12 12:09] stdweird commented on #38
@jrha i have no intention of ever touching `ncm-query` again (unless someone adds unittests first that is), i'll see if this works in new CLI.

[2016-01-12 12:17] stdweird commented on #38
works fine with latest ccm CLI (28 is current on this box)
[code]

[2016-01-12 12:53] jrha commented on #38
Good enough for me... @ned21?

[2016-01-12 22:03] ned21 commented on #38
https://github.com/quattor/CCM/blob/master/src/main/perl/Configuration.pm#L70 says that an unlocked config alway uses the current CID, and getConfiguration does the right thing. Anyone using getUnlockedConfiguration method will get the "wrong" result so an update to https://github.com/quattor/CCM/blob/master/src/main/perl/CacheManager.pm#L315 to say that the $cid parameter is ignored and this meth

[2016-01-13 09:43] #38 closed

[2016-01-23 09:55] stdweird commented on #54
@ned21 @gombasg what are the odds of MS accepting dependency on `LWP::Authen::Negotiate` in `CAF` or `CCM`? it is in epel, but even for el7 not in main repos. i could reimplement the code ofcourse (it's not that hard), but i'd prefer to avoid this kind of duplication.

[2016-01-25 10:43] jnovy commented on #54
Hi Stijn,

it's ok as we can use EPEL now. perl-LWP-Authen-Negotiate is in all EPELs (version 0.08) so we should be good if you use this one.

Cheers,
Jindrich

[2016-01-25 17:06] stdweird commented on #54
@jnovy thx!

[2016-02-14 16:48] #59 closed

[2016-02-14 16:48] #68 closed

[2016-02-14 16:48] #76 closed

[2016-02-26 11:00] stdweird opened #89 "TextRender fails to render lists (and fails hard in TT)"
e.g.
[code]
(with `repositories` a list of things).

[2016-03-21 07:08] stdweird opened #91 "json_typed and tabcompletion enabled by default"
* json_typed should be safe to use (running this for a while now), and more TT files are getting released that will not work without it
* enabling tabcompletion will introduce a new file for each template

[2016-03-23 07:39] stdweird opened #92 "Support disabled escaping in templates"
See https://github.com/quattor/pan/issues/35
Required steps
* detect disabled escaping and select noop escape functions (or make it a noop)
 * we could also implement a reversible escape method as a first step towards real noop
* support switching between profiles from cache that have enabled escaping and ones without
* allow path selection using "/a/b/{/c/d/}/f", not sure if this used much, but c

[2016-03-23 15:57] jrha commented on #91
Change approved!

[2016-03-23 15:58] jrha commented on #91
Discussed at 21st workshop and agreed.

[2016-03-25 16:47] stdweird opened #94 "CCM should use CAF::Lock"
It now uses `flock`,should switch to `CAF::Lock` as soon as https://github.com/quattor/CAF/pull/132 is resolved

[2016-04-12 16:00] #89 closed

[2016-04-15 07:17] stdweird opened #95 "TextRender: cast_double and friends do not fail on impossible conversion"
conversion of `a` to double using `cast_double` does not fail, instead the casted value becomes 0.
easily fixable with `use warnings qw(FATAL numeric)`, but needs unittests as well.
(expected to be uncommon, as we have schema validation, but still, changing the value behind our back is not encouraged :smile: )

[2016-05-06 10:18] #91 closed

[2016-05-06 10:47] #54 closed

[2016-05-13 13:39] stdweird opened #100 "Move default format to CDB_file"
Need to figure out if there is any reason not use CDB as default DB format (and if not, switch to it).

Related to https://github.com/quattor/aii/issues/175

Also requires change in default ccm.cfg in maven-tools

[2016-05-17 16:44] jouvin opened #103 "unit tests fail without clean"
Several tests fail if `mvn test` rather than `mvn clean test` is used (once it has been run once).

[2016-05-26 12:53] ned21 opened #104 "ccm CLI unable to display profile even if world_readable = 1"
[code]

Looks like whatever writes the .db files needs to ensure it uses the correct perms.

[2016-05-26 12:59] stdweird commented on #104
any chance you can try to install lastest master from https://jenkins1.ugent.be/view/Quattor/job/CCM/org.quattor.client.libraries$ccm/lastSuccessfulBuild/artifact/org.quattor.client.libraries/ccm/16.2.1-SNAPSHOT/, do a `ccm-fetch --force` and try again (incl dthe `ls -l`)? (it's ok if it downgrades ccm again, but will trigger restarts of ncm-cdispd and friends, so you have been warned :smile: )
th

[2016-05-27 09:02] ned21 commented on #104
It depends on HEAD of CAF too:

[code]

and Perl-CAF requires a new dependency:
[code]
although fortunately that seems to be available in our repos. :)

Problem persists:

[code]

[2016-05-30 07:42] stdweird opened #105 "remove Element getUnescapedName"
I'm working on using unescaped (sub)paths for the CCM cli tools, but it would be nice to get rid of the `getUnescapedName` method from `Element`. i grepped the current code base, we do not use it anywhere, not even in unittests :smile:

[2016-05-30 07:43] stdweird commented on #105
@ned21 @jrha @jouvin any objections?

[2016-05-30 08:32] jouvin commented on #105
I tend to think this is a good move! I don't remember using it, at least in everything using the getTree() API. I you have not found any use of it in the whole code base, I've the feeling it is harmless to remove it. I guess that trying to build a release (running all the unit tests) after removing it should be enough to assess that we don't do any harm.

[2016-06-01 09:05] jrha commented on #105
No objection.

[2016-06-04 13:12] stdweird commented on #104
@ned21 out of curiosity, what was the format (i.e. the content of path2eid.fmt)? old code had 0640 for DB and GDBM, and whatever umask allowed for CDB.
this is now fixed in #106  (code was to messy not to clean it up, and usage of CAF::Path requires a class anyway)

[2016-06-05 09:52] stdweird opened #107 "remove CCM::Property class"
It provides a number of methods that are in use, but should all be replaced by using `getTree`
There seems to be no other actual usage/advantage

[2016-06-05 09:55] jouvin commented on #107
@stdweird could you provide a list of the methods provided by this class so that we could identify all the configuration modules that may require an update?

[2016-06-05 10:05] stdweird opened #108 "CLI path globs"
Support paths with glob on the CLI, eg. `ccm /software/components/*/enabled`

Proposed globs
* `*`/`[]`, globs for a single subpath, can have letters etc mixed (e.g. `/softwar/package/a*`)
* `**`, any subpaths (probably greedy, not sure if it will allow `/a**`, probably not)

The globs do not work to select sub-paths of safe unescaped paths (e.g. `ccm /software/components/metaconfig/services/{/etc

[2016-06-08 11:48] stdweird opened #109 "ugly exception during initial installation"
AII postinstall output

does not really look like an issue, but is ugly nonetheless
[code]

[2016-07-06 15:06] msmark opened #110 "ccm-fetch pod has wrong --cfgfile option"
The `ccm-fetch` pod lists `--config` as the command-line option to override the location of the configuration file, when in fact it is `--cfgfile`.  See https://github.com/quattor/CCM/blob/master/src/main/bin/ccm-fetch#L330.

[2016-07-08 15:19] msmark opened #112 "ccm-fetch"
As per [Igneous](https://github.com/quattor/aquilon/issues/34) requirements, `ccm-fetch` will need to support the `-t` flag which will instead cause a test profile to be collected and downloaded into the test profile cache, instead of a live profile.

The following new command-line arguments and corresponding entries will be added to `/etc/ccm.conf`:

Option | Description
-------- | -------------

[2016-07-08 15:22] stdweird commented on #112
@msmark no need for failover the test_profile should support a list of urls to try in order (i think that regular profile already does that, and that profile_failover is legacy)

[2016-07-08 15:25] stdweird commented on #112
@msmark or not, i must be confused with some other code. feel free to open an issue for such support

[2016-07-11 10:44] stdweird opened #113 "ccm script should run with `-T`"
For improved security (it's a tool that has access to the ccm db afterall).

[2016-07-17 18:34] jouvin opened #114 "ccm 16.6.0-rc4 has missing dependencies on SL5"
Trying to deploy 16.6.0-rc4 on a SL5 system, I got the following `ncm-spma` error:
[code]
I am not completely sure why the installed version is considered lower than 2.3.0... It would be good to put the non standard dependency in `quattor_externals` YUM repo.

This is a showstopper for [16.6.0-rc4](https://github.com/quattor/release/issues/253) release.

[2016-07-18 05:20] stdweird commented on #114
what does `repoquery perl-JSON-XS -a` return? if the required version is not in a repo, it's normal that spma fails, even if it is installed locally.

[2016-07-18 05:53] stdweird commented on #114
actually, you need to check for `repoquery --whatprovides 'perl(JSON::XS) >= 2.3.0' -a`

[2016-07-18 07:01] jouvin commented on #114
I have the feeling that RF RPM is broken. This is what I have installed (from the repo!) and in the repo:
[code]

But `repoquery --whatprovides` is not able to find a version >= 2.3.0:
[code]

On the other hand, the following works and would probably gives a similar result:
[code]

[2016-07-18 07:09] jouvin commented on #114
BTW, I insist that all the dependency required for Quattor components should be either in the OS/EPEL repos or in `quattor_externals` for the OS version. For me, the required `perl-JSON-XS` should be added to SL5 `qiattor_externals`.

[2016-07-18 07:27] stdweird commented on #114
@jouvin wrt the versions, be aware of the perl version logic:
2.3 == 2.30 == 2.300 (and is seen ass 2300000) (hint: it's a decimal)
v2.3 == 2.3.0 (and is seen as 2003000)

[2016-07-18 07:46] jouvin commented on #114
Thanks for the clarification! This is a real mess... I guess that the origin of the problem is that the actual version is `2.3` when the RPM name contains `2.30` (the same thing from the perl point of view). And yum on SL5 may have difficulties to deal with it.

What about using only the perl depency as done in the previous changes but use `2.2.99` instead of `2.3.0` as it seems to work around the

[2016-07-18 20:02] jouvin commented on #114
Do not forget that it would be good, if legally feasible, to put `perl-JSON-XS` 2.30 from rpmforge in SL5 `quattor_externals`....

[2016-07-21 09:06] #114 closed

[2016-07-28 09:05] #104 closed

[2016-07-28 10:15] msmark commented on #112
@stdweird would I need a new issue for that?  Shouldn't it all be covered by this issue?

[2016-07-28 10:31] stdweird commented on #112
no real preference :smile:

[2016-07-29 08:11] msmark commented on #112
Ok I've updated the description in this issue.

[2016-08-05 07:29] stdweird commented on #109
my analysis: we are using the `LC::Exception` completely wrong
the magic lines
[code]
that are sprinkled over all our modules actually initiate a new context for each module.
in this case, the context in the main cannot see the exception thrown in a module.

we could track all the exceptions using private variable (`%LC::Exception::Context::_Active`), but why do we have more than one?

i propose t

[2016-08-05 10:23] jrha commented on #113
Why?

[2016-08-05 13:52] stdweird commented on #113
for improved security (it's a tool that has access to the ccm db afterall)

[2016-08-06 18:10] #113 closed

[2016-08-09 15:33] stdweird opened #120 "remove context/context_time/context_ntime/profile_ntime"
unless someone knows what they are supposed to do.
from a first scan, it looks like at least the `_time` and `_ntime` options are not used.

[2016-08-15 12:10] ned21 commented on #75
@stdweird  Is this on your radar to fix? Does it depend on a future CAF change?

[2016-08-15 12:14] ned21 opened #121 "ccm-fetch cronjob does not log timestamp"
[code]

leaves a useful log file in /var/log/ccm-fetch.log but it contains no timestamp. Normally this is not an issue because the timestamp can be inferred from the times in /var/lib/ccm but a timestamp is required when trying to work out why a profile was _not_ downloaded.

[2016-08-15 13:14] stdweird commented on #75
@ned21 forgot about this one. i've tagged this 16.10, i can gave a quick look if this is an easy fix.

but as long as https://github.com/quattor/CAF/pull/98 is not merged, this output will still exist, but afaik, this has always been the output from `ccm-fetch` (it's more verbose now since all ccm files are generated by CAF, and the extra tabcompleiton line). but ccm-fetch never logged an updated

[2016-08-15 13:40] stdweird commented on #121
i'd propose to change it to
[code]

random_delay (in minutes) should be supported in all/most cron versions; and it's better than the dangling perl sleep process on all our nodes.

(or did you want a timestamp in on each output line?)

[2016-08-15 14:37] gombasg opened #123 "ccm-fetch fails to fetch the profile if the cache is empty"
EDG::WP4::CCM::Fetch::Download::download() uses the timestamp of the last downloaded profile, which is cached under /var/lib/ccm/data, to decide if the profile has been changed on the server side. However, if there is no cached profile, then the code creates an empty file just before checking the timestamp:

    if (!-f $cache) {
        CAF::FileWriter->new($cache, log => $self)->close();
    }

[2016-08-15 14:42] gombasg opened #124 "ccm-purge always removes profiles cached under /var/lib/ccm/data"
There seems to be a misunderstanding between ccm-purge and the CCM library about the contents of /var/lib/ccm/data. src/main/perl/Fetch/Download.pm contains:

[code]

where ->EncodeURL() is basically BASE64.

But ccm-purge thinks:

[code]

Since BASE64 and MD5 does not return the same result, ccm-purge always removes all cached profiles.

[2016-08-15 14:45] gombasg commented on #124
This issue combined with #123 means profile changes which are compiled between ccm-purge and the next regular ccm-fetch are not getting applied.

[2016-08-15 16:04] ned21 commented on #121
+1 for RANDOM_DELAY, although why 45 and not 60?

On Solaris we ship this via templates rather than pkg. Perhaps we should just move it to templates on Linux too?

[code]

[2016-08-15 16:11] ttyS4 commented on #121
`ncm-ncd` logs to syslog why this is not the case for ccm-fetch?
If it would then the lack of timestamps on stdout won't be an issue.

[2016-08-16 06:45] stdweird commented on #121
because `CAF::Reporter` isn't exactly the nicest report/log framework around? the easiest way to have ccm report to syslog is to have it log to a logfile.
any objections against logging to `/var/log/ccm-fetch.log`? (and similar for ccm-initialize/purge). or only log to syslog?

[2016-08-16 10:41] ttyS4 commented on #121
@stdweird if that is how we can achieve it then sounds fine to me.

[2016-08-18 21:10] #123 closed

[2016-08-19 05:47] stdweird commented on #109
one case where a global EC won't work: in ComponentProxy, each component package is checked for their own EC, and it's a possible different one than the one from component proxy itself.

[2016-08-20 11:55] #105 closed

[2016-08-22 06:49] stdweird opened #128 "use VERIFY_HOSTNAME"
Both ccm and ncm-download use LWP with hostname verification disabled. this might be some legacy setting to make things work under not so recent OSes. but is it still required?

[2016-09-30 07:49] stdweird opened #131 "importing the NOQUATTOR constants from Fetch changes ENV via Fetch::Download"
`ncm-ncd` does this, and thus all components run is the insecure environment

Possible solutions
 * move constants elsewhere
 * later modification of ENV (related to #128)

[2016-09-30 07:49] stdweird commented on #131
At least the first solution should be feasible for 16.10

[2016-10-04 14:39] jrha commented on #100
Agreed at workshop!

[2016-10-04 14:45] piojo commented on #100
In addition to that, we'll make the CCM RPM depend on `perl-CDB_File`, so that during an upgrade nobody gets a new default but find themselves unable to run ccm-fetch because the required handler is not installed.

[2016-10-04 14:45] ned21 commented on #100
Confirming this works on EL5: $ rpm -q perl-CDB_File
perl-CDB_File-0.98-9.el5

[2016-10-04 15:43] piojo opened #132 "Kill the examples for the NVA API in doc"
The documentation has lots of examples of practices we have deprecated or consider harmful.  Remove these examples.

[2016-10-04 15:50] jrha opened #134 "Remove references to derivation"
This appears to have been a method for tracking where profile values were changed but was removed after the very first Quattor workshop for performance reasons, we should remove any references to this functionality if it is not supported.

[2016-10-04 16:00] #132 closed

[2016-10-05 14:58] piojo commented on #109
Consensus is to get rid of `LC::Exception` altogether.  Have `CAF::Die` or similar to log the error and then actually `croak`, so that we can get an exception.

[2016-10-06 13:16] #75 closed

[2016-10-09 15:51] #121 closed

[2016-10-10 07:07] stdweird opened #138 "critical bug in ccm-fetch in current master"
https://github.com/quattor/CCM/pull/126 has a critical bug due to an oversight  and lack of unittests for ccm-fetch. it is addressed in #137 but in case this PR should not make it in the release, i can open a separate PR for it
 * this fix https://github.com/quattor/CCM/pull/137/files#diff-55d923bba0d582df124821fdb8b04349R187
 * harmless warning https://github.com/quattor/CCM/pull/137/files#diff-5

[2016-10-10 07:51] stdweird commented on #138
Fixed in #139

[2016-10-11 19:34] #138 closed

[2016-10-12 07:23] #131 closed

[2016-10-12 19:11] stdweird commented on #120
@ned21 @jrha @jouvin was this discussed? does it relate to #134?

[2016-10-13 19:37] stdweird commented on #94
Actually, flock in nowhere used. Cleaning up SyncFile for now

[2016-10-13 19:39] stdweird opened #143 "Remove SyncFile"
Followup from #94 cleanup. Unclear what `SyncFile` adds

[2016-10-13 19:42] ned21 commented on #120
Yes and not related to #134. ISTR when I looked at the "contexts" feature a little way back as a way of passing additional information from outside the profile, I found that the functionality no longer existed in any meaningful form. It seems pretty safe to remove any residual reference to them.

[2016-10-13 19:57] stdweird commented on #100
No change required in `maven-tools`, default is already CDB_File in the ccm.cfg

[2016-10-13 20:23] stdweird commented on #107
bumped, needs a bit more investigation

[2016-10-13 21:09] #120 closed

[2016-10-15 19:46] #110 closed

[2016-10-16 18:17] stdweird opened #146 "ccm-fetch should report details about authentication (x509 keys, trus, principal/keytab)"

[2016-10-17 08:55] #100 closed

[2016-10-18 20:57] #94 closed

[2016-10-21 10:47] stdweird opened #148 "Add simple CLI tool for /etc/noquattor and standardise the content"
Standardised content could be meaningful, eg that /etc/noquattor is set, but implies `noaction` instead of do nothing.
But by default i'd like it to use it store the reason why it was set, like `fixing ticket 123`.
When eg ccm-fetch or ncm-ncd run, it could print this message.

I would add a cli tool to edit the message, esp if the message is structured, like
[code]
(`config::tiny` with textrender

[2016-10-21 11:55] jrha commented on #148
Good idea, we have a nagios alarm for `/etc/noquattor` without contents.
`ccm-fetch` already prints the contents as a warning.

[2016-10-25 06:57] stdweird opened #149 "Add ncm-download files to safe unescape paths"

[2016-12-05 21:20] #95 closed

[2016-12-06 16:17] StephaneGerardVUB opened #154 "ccm-fetch fails claiming illegal characters in kerberos principal"
Using ccm 16.10.0-1.
Output of component ccm :
`[ERROR] failed to ccm-fetch with new config: Uncaught exception!!! Calling stack is:
  LC::Exception::throw_error called at /usr/lib/perl/EDG/WP4/CCM/Fetch/Config.pm line 250
  EDG::WP4::CCM::Fetch::Config::setPrincipal called at /usr/sbin/ccm-fetch line 280
*** Invalid characters in principal: host/test-krb.wn.iihe.ac.be@WN.IIHE.AC.BE
`
The regular

[2016-12-07 09:19] #107 closed

[2016-12-07 11:35] #149 closed

[2016-12-08 11:55] #143 closed

[2016-12-08 11:55] #154 closed

[2016-12-08 17:52] stdweird opened #158 "fetch.t unittest fails on el5"
the unittest 20 that retrieves `https://www.google.com` returns an empty filereader on el5; altough the response object has valid `_content` attribute and is considered success (it has code 200); it looks the `decoded_content` method returns an undef.

this is the response instance
[code]

[2016-12-08 19:15] stdweird commented on #158
it's some decoding error on el5
[code]

[2016-12-08 19:27] stdweird commented on #158
it's very odd, content type from the response is
[code]
the failing chars are
[code]
(dutch for belgium)

[2016-12-08 19:35] stdweird commented on #158
@jrha build_all_repos on el6 and el7 is fully succesful and does not have this

[2016-12-09 09:57] #158 closed

[2016-12-27 09:39] stdweird opened #161 "verify checksum on read"
When opening a profile cache, the checksum could be recomputed to check against any corruption; however, metadata (like type) is not part of the checksum.

[2017-01-03 14:37] kwaegema opened #163 "Some more path tree functions needed"
we need a config->getPathTree to return a tree with keys the path and value the elements; and als a path option to getTree to return a tree with usual keys and the path as values.
See https://github.com/quattor/configuration-modules-core/pull/985/files/813d3d8e5bdab865602221779d060c09c60c502e#diff-6e7cb99cc953d4c5bd7f719738022238

[2017-02-14 14:05] gombasg opened #167 "Proposal: CCM should store downloaded profiles in git"
Hi,

ccm.conf allows specifying how many old versions of the host profile to keep, but that's not always sufficient. Instead of storing old versions of the profile in distinct directories, I propose to use git to store every version of the profile the host ever downloaded. Advantages:

- Unlimited history, which could still be trimmed with standard git commands should that be needed
- Our experien

[2017-02-14 14:15] stdweird commented on #167
some remarks:
* easiest way is to add this to the current structure, instead of fully integrating it (i.e. a separate git repo in parallel with the existing directories; not a replacement of the directories). or did you plan to add the cache dbs in git as well?
* you'll also want a local tool to fetch a profile from this repo and produce the original (or new?) cid directory (not sure if this shoul

[2017-03-21 13:23] stdweird opened #168 "Remove CCM::Element completely"

[2017-03-21 15:18] jrha commented on #161
Discussed at March 2017 workshop, proposal is to first change the checksum computation to include the type information and the implement checking on read.

[2017-03-22 08:13] stdweird opened #169 "Remove CCM::Configuration placeholder"
Requires all code to switch to maventools > 1.51

[2017-03-23 16:22] stdweird commented on #168
@ned21 feel free to make a case why we should keep it longer 😄

[2017-03-23 16:24] ned21 commented on #168
The problem is that some sites have private components which need updating to the latest style/API. If the component is also scheduled for removal/replacement but that won't happen prior to 17.10 then it's hard to justify the work to modify the component but let's see where we are in October.

[2017-03-30 11:22] ned21 commented on #128
Closing as discussed at stand up.

[2017-03-30 11:22] #128 closed

[2017-06-23 17:34] stdweird opened #172 "Support hex/octal indices in paths"
See https://github.com/quattor/pan/pull/157

[2017-07-17 15:35] nowack73 opened #173 "ccm-purge does not work"
At least in version 17.2 and 17.3, ccm-purge does not work. Calling it results in this error message:
[code]

The problem is line 177 of /usr/sbin/ccm-purge:
[code]
This  results in a local variable $DIR that is valid only in the context of this if clause.

In order to use it in a broader context it has to be something like this:
[code]

[2017-07-17 18:40] stdweird commented on #173
@nowack73 thanks for reporting!

[2017-07-18 08:16] #173 closed

[2017-10-13 09:06] nowack73 opened #175 "ccm-purge does not work in 17.7"
The restructuring of /usr/lib/perl/EDG/WP4/CCM/ results in an error when ccm-purge is called:
[code]

I guess line 30 of ccm-purge has to be changed:
old:
[code]
new:
[code]

[2017-10-13 10:00] jrha commented on #167
Having the commit message the same as the `Profile updated` message would be nice, e.g.
`CID 5 name foobar-sandbox-tkk76468`

[2017-10-13 10:07] jrha commented on #175
Thanks for spotting this, I can confirm that `ccm-purge` has been broken since 17.3 :disappointed:. As I haven't quite pressed the go button on 17.8 final I'll sneak the fix beforehand.

[2017-10-13 13:17] #175 closed

[2017-10-18 13:50] stdweird opened #177 "distribute profiles using FreeIPA desktop profiles"
Part of the fleetcomander[0] project is a FreeIPA plugin [1] to add/update/delete "profiles" in JSON format in FreeIPA and client side to retrieve it (and dbus interface to query the data; put possibly only dbus interface).

CCM could use this method for linux freeipa managed hosts to retrieve profiles safely.
Also, it looks like it comes with rules to control who can update which profiles.

[0]:

[2017-10-25 14:52] jrha commented on #167
Discussed at RAL workshop, general agreement for the idea. @gombasg have you done anything towards this already?

[2017-10-25 14:59] jrha commented on #168
Discussed at RAL workshop, will leave flagged for discussion until MS can update internal components.

[2017-11-24 10:00] jrha commented on #167
@gombasg?

[2017-12-01 13:30] stdweird opened #178 "TextRender or getTree should support a way to unescape keys"

[2017-12-08 13:19] #178 closed

[2017-12-08 14:40] stdweird commented on #178
this merge triggered a build of master in jenkins (it failed due to maven-tools issue; but the jenkins coupling works again)

[2017-12-08 14:46] jrha commented on #178
Wooo :penguin:

[2017-12-17 20:14] ttyS4 opened #182 "some ccm commands do not have taint mode on"
ccm-fetch, ccm-initialise, ccm-purge does not have taint mode on.

This means that they include `.` in `@INC` as seen in #181.

[2018-04-25 13:04] jouvin commented on #169
@stdweird please do it!

[2018-04-25 13:07] jouvin commented on #168
LAL workshop: no progress at MS, let open until next workshop to review progress...

[2018-04-25 13:08] jouvin commented on #172
Feature no longer supported by panc, no point to change CCM.

[2018-04-25 13:08] #172 closed

[2018-04-25 13:12] jouvin commented on #112
LAL workshop: no activity at MS on this, just moving it back to the general backlog...

[2018-07-02 10:03] jrha commented on #168
Milestone removed until we can agree on removal.

[2018-07-09 09:52] jrha commented on #169
@stdweird it seems like this should also be removed from [CCM/CacheManager/Configuration](https://github.com/quattor/CCM/blob/e4ac2cbdbdc9757559b5920fa4cf0971b892c241/src/main/perl/CacheManager/Configuration.pm#L3), although the tests on this repo didn't catch that, only nightlies when they hit maven-tools.

[2018-07-09 10:10] jrha commented on #169
#188 should mop this up.

[2018-10-29 14:11] gombasg commented on #168
I think the issue is open for some time now, and we can handle the removal, so no objections.

[2018-10-29 15:28] ned21 commented on #168
@gombasg - have we fixed rootpw and daemontools components? ISTR the challenge was that RH5 was running too old a version of CAF to allow us to update it to use the new functions so we had a bit of a catch-22.

[2018-11-26 10:59] nowack73 opened #191 "ccm-purge does not work in 18.6"
Running ccm-purge gives an error and old files are not removed:

[2018-11-26 13:21] jrha commented on #191
Confirmed at RAL.

[2018-11-28 12:34] #191 closed

[2018-12-05 13:20] gombasg opened #195 "FOREIGN profiles are not cleaned up"
The documentation of `fetchProfile()` says:

However, that functionality was apparently broken by commit 7bc02dd52d37731e0e969b9cc04b5ca6a5a56049 by removing this fragment:

          if ($foreign_profile) {
              $latest = 0;
              system "rm -rf $cache_root/profile.$latest";
          }

... and I did not found any replacement of this code fragment. Since we've recently done an u

[2018-12-12 10:13] jrha opened #197 "fetch.t depends on google being up"
See https://github.com/quattor/CCM/blob/c6c67c251e1ff50a49521c706d4f5cc4664af3ba/src/test/perl/fetch.t#L171, this was previously mentioned in #158.

It seems a little insane for unit tests to rely on external connectivity, but I can't immediately think of a better solution. Nevertheless I am opening this issue to document that we know about it.

[2019-04-05 16:15] jrha commented on #124
Fixed by #199.

[2019-04-05 16:15] #124 closed

[2019-07-03 13:01] ned21 opened #201 "ccm warning about Insecure $ENV{ENV}"
$ ccm --version
Insecure $ENV{ENV} while running with -T switch at /usr/lib/perl/LC/Process.pm line 475.
This is ccm version 18.3.0
$ ccm /system/personality/host_environment  2>/dev/null
Insecure $ENV{ENV} while running with -T switch at /usr/lib/perl/LC/Process.pm line 475.
$ host_environment : 'dev'

This makes it difficult to use ccm in scripts. Looking at the ccm code, it looks like we saniti

[2019-07-03 13:07] stdweird commented on #201
@ned21 perl version? what OS and what exact package version?

[2019-07-03 13:10] ned21 commented on #201
$ /usr/bin/perl -v

This is perl 5, version 16, subversion 3 (v5.16.3) built for x86_64-linux-thread-multi
(with 39 registered patches, see perl -V for more detail)

$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)

$ rpm -q ccm perl-LC
ccm-18.3.0-1.noarch
perl-LC-18.3.0-1.noarch

[2019-07-03 13:14] stdweird commented on #201
[code]

[2019-07-03 13:16] stdweird commented on #201
@ned21 any chance you can try more recent ccm?

[2019-07-03 13:17] gombasg commented on #201
From `man perlsec`:

      delete @ENV{qw(IFS CDPATH ENV BASH_ENV)};   # Make %ENV safer

Our standard profile setup does utilize `$ENV`.

[2019-07-03 13:19] gombasg commented on #201
... the only question is, should that be done in all Quattor utilities, or should it be done unconditionally in LC::Process.

[2019-07-03 13:21] gombasg commented on #201
Hmm, `LC::Secure::environment()` has this code already...

[2019-07-03 13:23] stdweird commented on #201
@gombasg yep, that's it
[code]
quick hack:
[code]

i'd rather not touch LC, and we already do some ENV sanitisation in other places. we should do a better job imho

[2019-11-07 15:00] gombasg opened #202 "ccm must not depend on perl(Crypt::SSLeay) on RHEL 8"
`perl(Crypt::SSLeay)` does not exist anymore. Looking into the history of this dependency, I think it is needed only up to RHEL 6. On RHEL 7, `Crypt::SSLeay` is still available, but `libwww-perl` should not need it, so this dependency could be dropped on RHEL 7, too (I have not tested this, however).

Question is, how to handle OS version specific dependencies?

[2019-11-07 15:36] stdweird commented on #202
for my tests, i rebuild perl CDB_File, Crypt-SSLeay, Config-Properties, LWP-Authen-Negotiate, -Crypt-OpenSSL-X509 and Set-Scalar (last one is already in epel testing).
these (maybe not all) used to be in eple6 and epel7, but not (yet?) in epel8. it's possible we don't need all those, but i think the bigger issue is that epel8 is not a full rebuild of epel7

[2019-11-07 16:10] gombasg commented on #202
Well, I did something similar, except dropping Crypt-SSLeay :-) I'm planning to start requesting the missing packages in a couple weeks if they do not appear by then. If that does not work, they can still be added to the `quattor-externals` repository.

[2019-11-07 16:16] stdweird commented on #202
i rebuild them based on latest fedora 31 src packages, it went smoothly so no real issue

[2020-03-04 15:52] jrha commented on #168
I've marked this for 20.12 as "Extended EOL" for RHEL 5 finishes on 30 Nov 2020.

[2021-04-12 15:16] jrha opened #204 "Cached profiles always have an xml extension regardless of their content"
Everything works fine, but it is confusing and scary for novice admins who stumble across it.

For example if you are using JSON profiles:
[code]
[code]

I propose removing the extension and just naming the cached file `profile`.

[2021-06-24 15:32] jrha commented on #202
We are now providing the package in http://yum.quattor.org/externals/noarch/el8/.

[2021-06-24 15:32] #202 closed

[2022-10-07 10:43] jrha opened #206 "Provide a type function to TextRender"
As discussed in quattor/configuration-modules-core#1413, we often end up with blocks of TT code along the lines of:
[code]

These might be tidier if the type could be used with `SWITCH`:
[code]